.topNav{
    height:60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 8px;
    /* box-shadow: 2px -4px 4px 2px var(--gray-cc); */
    border-bottom: 1px solid var(--gray-cc);

}