.loginsignup{
    width: 100vw;
    min-height:100vh;
    box-sizing: border-box;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginsignup .formcontainer{
    background-color: var(--white);
    width:90%;
}
.formerror, .loginsignup form label sup{
    color:red;
    font-size: 0.7em;
}
.loginsignup form label sup{
    padding-left: 4px;
}
.loginsignup form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.loginsignup form label{
    font-size: large;   
    margin-bottom: 8px;
}
/* .loginsignup form input{
    width:100%;
    border: solid 1px var(--blue-d);
    border-radius: 6px;
    padding: 8px 6px;
    margin-bottom: 16px;   
} */
.top-nav{
  position:fixed;
    width: 100%;
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:16px;
    background-color: #f7f7f7;
    z-index: 999;
    box-shadow: 2px 4px 2px 2px #2222224a;
}
.top-nav img{
  height:55px;
}
.home{
    background-color: #f7f7f7;
    min-height: 100vh;
}
.hero{
    width:100%;
}

.hero h1{
    font-size: 50px;
    color:#f7f7f7;
}
.hero img{
    width:100%;
}
.benefits{
    display: flex;
    justify-content: space-between;
    row-gap: 16px;
    column-gap: 16px;
}
.benefit-c{
  width:90%;
  margin-left:5%;
  margin-right:5%;
}
.benefits .card{
    width:20vw;
    height:20vw;
    box-shadow: 2px 4px 2px 2px #2222224a
}
footer{
  background-color: var(--green-d);
  width:100%;
  height:fit-content;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left:3rem;
  padding-right:3rem;
  padding-top:1rem;
  padding-bottom:1rem;
}
footer a, footer h3{
  color:#f7f7f7;
}
footer h3{
  font-weight: 600;
}
footer img{
  height:40px;
}

#herolg{
    display: block;
}
#herosm{
    display: none;
}
#contact{
  background-color: var(--green-d);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin-top: 180px;
}
#contact .container{
  background-color: #f7f7f7;
  padding: 80px;
  width:fit-content;
  height: 70vh;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  
}
#contact .container .inner-con{
  background-color: #f7f7f7;
  padding: 0;
  width:fit-content;
  height:fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  justify-content: flex-start;
  align-items: flex-start;
  
}
#contact-form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width:100%;
}
#contact button{
  align-self:center;
}


  /*hover card*/
 

  .benefits .content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    font-size: large;
    transition: transform 300ms;
    /* box-shadow: 0px 0px 10px 1px #000000ee; */
    border-radius: 5px;
  }
  
  .benefits .front, .benefits .back {
    /* background-color: #151515; */
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .benefits .back {
    width: 100%;
    height: 100%;
    font-size: large;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  footer a{
    font-size:14px;
  }
  
footer .links{
  display: flex;
  width:fit-content;
  column-gap: 3rem;
}
  
  .benefits .back-content {
    position: absolute;
    width: 99%;
    height: 99%;
    font-size: larger;
    /* background-color: #151515; */
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .benefits .back-content strong{
    color:var(--green-d)
  }
  .benefits .card:hover{
    box-shadow:  0px 0px 2px 2px var(--yellow-d);
  }
  .benefits .card:hover .content {
    transform: rotateY(180deg);
  }
  
  @keyframes rotation_481 {
    0% {
      transform: rotateZ(0deg);
    }
  
    0% {
      transform: rotateZ(360deg);
    }
  }
  br{
    display: none;
  }
  .benefits .front {
    transform: rotateY(180deg);
    color: white;
  }
  
  .benefits .front .front-content {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    row-gap: 30px;
    font-size: larger;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align:justify ;
  }
  
  .benefits .front-content .badge {
    background-color: #00000055;
    padding: 2px 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    width: fit-content;
  }
  
  .benefits .description {
    box-shadow: 0px 0px 10px 5px #00000088;
    width: 100%;
    padding: 10px;
    /* background-color: #00000099; */
    backdrop-filter: blur(5px);
    border-radius: 5px;
  }
  .features-h{
    width:300px;
  }
  .benefits .title {
    font-size: 11px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .benefits .title p {
    width: 50%;
  }
  footer .find-us>div{
    display: flex;
    column-gap:1rem;
    margin-top:0.5rem;
  }
  footer img{
    align-self: flex-start;
  }
    footer .contact-us >div{
    display: flex;
    flex-direction: column;
    margin-top:0.5rem;

  }
  .copyrights{
    color:#f7f7f7;
  }
  .front .img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  
  @keyframes floating {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }
  /* #contact{
    margin-top: 32px;
    width:100%;
  }
  #contact form{
    width:90%;
    padding-left:10%;
    display: flex;
    flex-direction: column;
  } */
  @media (max-width:640px){
    #contact .container{
      background-color: #f7f7f7;
      padding: 16px 20px;
      width:95vw;
      row-gap:40px;
      
    }
    #contact .container .inner-con{
      row-gap:40px;
      
    }
    .features-h{
      width:180px;
    }
   
  }
  @media (max-width:640px){
    footer{
      padding:16px;
      flex-direction: column;
      row-gap:16px;
      align-items: center;

    }
    footer img{
      height:60px;
    }
    footer .find-us,  footer .contact-us{
      display: flex;
      flex-direction: column;
      column-gap:0.5rem;
      padding:10px;
      border-bottom: 1px solid var(--yellow-d);
      padding-left:0;
    }
    footer .contact-us>div{
      display: flex;
      flex-direction: column;
      column-gap:0.5rem;
      padding:10px;
      margin-top:0;
      padding-left:0;

    }
    footer .find-us>div{
      display: flex;
      column-gap:1rem;
      justify-content: flex-start;
      padding:10px;
      padding-left:0;
      margin-top:0;

    }
   .links{
    flex-direction: column;
    row-gap: 1rem;
   }
   br{
    display: block;
    width:50vw;
    color:var(--yellow-d);
    align-self:center;
   }
   .copyrights{
    order:1;
    align-self: center;
   }
  }

  @media screen and (max-width:480px) {
    .benefits .card{
        width:80%;
        height:400px;
    }
   
    #herolg{
        display: none;
    }
    #herosm{
        display: block;
        padding-top: 60px;

    }
  }

  @media screen and (max-width:640px) {
    .benefits{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .benefits .card{
        width:300px;
        height:400px;
    }
    #herolg{
        display: none;
    }
    #herosm{
        display: block;
        padding-top: 60px;
    }
  }